{% extends parent_template %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/default.time.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/default.date.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/default.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/author.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
{% endblock %}

{% block scripts %}

{{ listing_view_templates|safe }}
{{ contacts_view_templates|safe }}
{{ listing_about_templates|safe }}

<script src="{{ base_url }}/static/js/lib/date.js"></script>
<script src="{{ base_url }}/static/js/lib/markdown.js"></script>
<script src="{{ base_url }}/static/js/lib/picker.js"></script>
<script src="{{ base_url }}/static/js/lib/picker.date.js"></script>
<script src="{{ base_url }}/static/js/lib/picker.time.js"></script>
<script src="{{ base_url }}/static/js/lib/reMarked.js"></script>
<script src="{{ base_url }}/static/js/lib/tinymce/tinymce.min.js"></script>
<script src="/static/js/jquery-ui-1.10.4.min.js"></script>

<script src="{{ base_url }}/static/js/util.js"></script>
<script src="{{ base_url }}/static/js/author/listing_contact.js"></script>
<script src="{{ base_url }}/static/js/author/listing_about.js"></script>
<script src="{{ base_url }}/static/js/author/listing.js"></script>
<script src="{{ base_url }}/static/js/author/author_controller.js"></script>
{% endblock %}

{% block tiny_classified_content %}
<div id="flash-bar"><span class="glyphicon glyphicon-thumbs-up"></span> Changes saved.</div>
<div class="header">
    <h3>TinyClassified</h3>
</div>
<hr>
<div class="tabbable" id="individual-document-view">
    <ul class="nav nav-tabs">
        <li class="active author-view-tab"><a href="#listing" data-toggle="tab">Listing</a></li>
    </ul>
    <div id="author-view-content" class="tab-content">
        <div id="listing-details-tab" class="tab-pane active"></div>
        <div id="job-postings-tab" class="tab-pane"></div>
        <div id="premium-features-tab" class="tab-pane"></div>
    </div>
</div>

{% endblock %}
