
<script type="text/template" id="listing-details-template">
    <div id="name-view"/>
    <div id="tags-view"/>
    <div id="contacts-view"/>
    <div id="about-view"/>
    <div id="address-view"/>
</script>

<script type="text/template" id="listing-name-template">
    <form role="form" id="listing-name-form" parsley-validate>
        <input type="text" name="listing-name" class="form-control" id="listing-name" placeholder="ex: Listing Name" value="<%= name %>" required>
        <button class="btn btn-primary" id="save-name-button">Save Name</button>
    </form>
</script>

<script type="text/template" id="listing-tags-template">
    <form role="form" id="listing-tags-form" parsley-validate>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tags-list">
            </tbody>
        </table>
        <form role="form" id="tag-add-form" parsley-validate>
        <div class="form-group">
            <input type="text" id="category" placeholder="ex: main category" required>
            <input type="text" id="subcategory" placeholder="ex: sub category" required>
            <button id="add-tag-button" type="submit" class="btn btn-default">Add Category</button>
        </div>
    </form><br/>
</script>

<script type="text/template" id="listing-tags-listing-template">
    <tr>
        <td><%- cat_output %></td>
        <td><%- subtag %></td>
        <td><a class="delete-tag-link" href="#" cat_output="<%- cat_output %>" subtag="<%- subtag %>">remove tag</a></td>
    </tr>
</script>

<script type="text/template" id="listing-address-template">
    <form role="form" id="listing-address-form" parsley-validate>
        <label for="street-input">Address</label>
        <input type="text" id="street-input" placeholder="ex: 123 Main St. #45" value="<%= address.street %>" required>
        <label for="city-input">City</label>
        <input type="text" id="city-input" placeholder="ex: Denver" value="<%= address.city %>" required>
        <label for="state-input">State</label>
        <input type="text" id="state-input" placeholder="ex: CO" value="<%= address.state %>" required>
        <label for="zip-input">Zip Code</label>
        <input type="text" id="zip-input" placeholder="ex: 80201" value="<%= address.zip %>" required>
        <button id="save-address-button" type="submit" class="btn btn-default">Save Address</button>
    </form>
</script>