.author-section-divider {
    margin-top: 10px;
    margin-bottom: 60px;
}

.author-view-tab :hover {
    cursor: pointer !important;
}

#author-view-content {
    padding: 20px;
    overflow: auto;
}

#street-input {
    margin-bottom: 10px;
}
