.featured {
    border-bottom: solid 1px #d0bf68;
    background-color: #f0e7bd;
    background-image: -moz-linear-gradient(top,#f2eac6,#ede3b1);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2eac6),to(#ede3b1));
    background-image: -webkit-linear-gradient(top,#f2eac6,#ede3b1);
    background-image: -o-linear-gradient(top,#f2eac6,#ede3b1);
    background-image: linear-gradient(to bottom,#f2eac6,#ede3b1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1eac5', endColorstr='#00ede3b1', GradientType=0);
}


.featured-listing-side {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    padding: 10px;
}

.featured-listing-side a {
    text-decoration: underline;
}


.featured-listing-side:first-of-type {
    border-top: 1px solid #C0C0C0;
}


.hidden-featured-col {
	display: none;	
}

.hidden-featured-cell {
	display: none;
}

.listing-detail {
    color: #505050;
    font-size: 12px;
    margin-top: 5px;
}


#featured-listings-display {
    margin-bottom: 20px;
}


#listings-table img {
	width: 170px !important;
	height: 50px !important;	
}

#filters-ctrl .btn {
    white-space: normal;
}

#listings-table.dataTable {
    border-bottom: 1px solid #DDD;
}

#listings-table {
    width: 100% !important;
}

#listings-table td {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#clear-filters-button {
    margin-bottom: 20px;
}

#clear-category-button {
    font-size: 14px;
}

#subcategories-table .btn {
    white-space: normal;
}

#subcategories-table form {
    margin-bottom: 0;
}

#subcategories-table-header {
    background-color: #1F4A6C;
    color: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-link:hover {
    background-color: #B0D0E8;
    color: #000;
    text-decoration: none;
}

#clear-category-button {
    height: 100%;
}

#clear-filters-button {
    width: 100%;
}

#select-category-button {
    height: 100%
}

@media (max-width: 992px) {
    #filters-ctrl {
        width: 100%;
        margin-bottom: 80px;
    }
}

@media (max-width: 650px) {
    #listings-table_length {
        float: none;
        text-align: left;
    }

    #listings-table_filter {
        float: none;
        text-align: left;
    }
}
