{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}

{% block scripts %}
<script src="/static/js/login.js"></script>
{% endblock %}

{% block content %}
<div id="login-page" class="row">
    <div id="top-padding"></div>
    <div class="col-md-6">
        <h1>Reset Password</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form role="form" method="POST" parsley-validate>
            <div class="form-group">
                <label for="email-input">Email address</label>
                <input type="email" name="email" class="form-control" id="email-input" placeholder="ex:test@example.com" required>
            </div>
            <div class="form-group form-button-holder">
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </div>
        </form>
    </div>
</div>
{% endblock %}
