{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" language="javascript" src="/static/js/lib/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#listings-table').dataTable( {
        "columnDefs": [
            {
                "targets": [2],
                "visible": false
            }
        ]
    } );
} );
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/public_category.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div>
    <h3>{{ category }}</h3>
</div>
<div id="public-category-index">
    {% if subcat_filter %}
    <a href="{{ [listing_url_base, category]|join('/') }}">Clear Filters</a>
    {% endif %}
    <table id="subcategories-table">
    <tr><th>Category</th></tr>
    {% if subcat_filter %}
        <tr>
            <td>
                <a href="{{ [listing_url_base, category]|join('/') }}">{{ subcategories }}</a><!-- This is a clear filter button -->
            </td>
        </tr>
    {% else %}
    {% for subcat in subcategories %}
        <tr>
            <td>
                <a href="{{ [listing_url_base, category, subcat]|join('/') }}">{{ subcat }}</a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
    </table>
    <table id="listings-table">
    <thead>
        <tr>
            <td>Listing Name</td>
            <td>Categories</td>
            <td>About</td>
        </tr>
    </thead>
    {% for listing in listings %}
        <tr>
            <td>
                <a href="{{ [listing_url_base, listing.slugs[0]]|join('/') }}">
                    {{ listing.name }}
                </a>
            </td>
            <td>
                Categories: {{ listing.tags.get(category, [])|join(', ') }}
            </td>
            <td>
                {{ listing.about }}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}