{% extends parent_template %}

{% block scripts %}
<script type="text/javascript" language="javascript" src="{{ base_url }}/static/js/lib/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#listings-table').dataTable( {
    	"aaSorting": [[3, "asc"]],
        "columnDefs": [
            {
                "targets": [2],
                "visible": false,
            }
        ]
    } );
} );
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/public_category.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/dataTables.bootstrap.css">
{% endblock %}

{% block title %}{{ category|replace('_slash_', '/') }}{% endblock %}

{% block tiny_classified_content %}

<div class="row" id="top-banner-holder">
    <div id="top-banner"></div>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('top-banner'); });
    </script>
</div>

<div class="row">
	<a id="home-link" href="http://ifn.insurance-forums.net"> &lt;&lt; Home </a>
	<a id="resource-directory-link" href="http://ifn.insurance-forums.net/resources/"> &lt;&lt; Resource Directory Index </a>
    <div class="col-xs-12">
        <h3>{{ category|replace('_slash_', '/') }}</h3>
    </div>
</div>
<div class="row">
    <div id="filters-ctrl" class="col-md-2">
        {% if selected_subcategory %}
        <a id="clear-filters-button" class="btn btn-danger" href="{{ [listing_url_base, category]|join('/') }}">Clear Filters</a>
        {% endif %}
        <table id="subcategories-table" class="table">
            <thead>
                <tr><th id="subcategories-table-header">Category</th></tr>
            </thead>
            <tbody>
            {% if selected_subcategory %}
                <tr><td>
                    <form method="link" action="{{ [listing_url_base, category]|join('/') }}">
                        <button type="submit" class="form-control btn btn-primary" id="clear-category-button">
                            {{ selected_subcategory.name }}
                        </button>
                        <!-- Thank you, http://glyphicons.com/ -->
                    </form>
                </tr></td>
            {% else %}
            {% for subcat in subcategories|sort %}
                <tr>
                    <td>
                        <form method="link" action="{{ subcat.url }}">
                            <button type="submit" class="form-control btn btn-link" id="select-category-button">
                                {{ subcat.name }}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table id="listings-table" class="table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Categories</td>
                    <td>About</td>
                    <td class="hidden-featured-col"> Featured </td>
                </tr>
            </thead>
            <tbody>
            {% for listing in listings %}
                <tr {% if listing['featured'] %}class="featured"{% endif %}>
                    <td>
                        <a href="{{ [listing_url_base, get_slug(listing, category)]|join('/') }}">
                            {{ listing.name }}
                            {% if listing.thumbnail_url %}
                            <br><img src="{{listing.thumbnail_url}}">
                            {% endif %}
                        </a>
                    </td>
                    <td>
                    {% if listing.tags.get(category, [])|length == 1 %}
                        Category:
                    {% else %}
                        Categories:
                    {% endif %}
                    {{ listing.tags.get(category, [])|join(', ')|replace('_slash_', '/') }}
                    </td>
                    <td>
                        {{ listing.about }}
                    </td>
                    {% if listing['featured'] %}
                    <td class="1 hidden-featured-cell"> 1 </td>
                    {% else %}
                    <td class="2 hidden-featured-cell"> 2 </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        {% if featured_listings %}
        <div id="featured-listings-display">
            <h3>Featured Listings</h3>
            {% for listing in featured_listings %}
            <div class="featured-listing-side">
                <a href="{{ [listing_url_base, get_slug(listing, category)]|join('/') }}">
                    {{ listing.name }}
                </a>
                    {% if listing.thumbnail_url %}
                    <br><img src="{{listing.thumbnail_url}}"><br>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="right-ad" id="right-ad-1"></div>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('right-ad-1'); });
        </script>
    </div>
</div>
{% endblock %}