{% for category, subcategories in categories.iteritems()|sort %}
<table id="index-table">
    <thead>
        <th colspan="2">
            <a href="{{ listing_url_base }}/{{ category.replace(' ', '-') }}">
                {{ category.replace('_slash_', '/') }}
            </a>
        </th>
    </thead>
    <tbody>
    {% for dualsubcategory in subcategories|sort|batch(2, '&nbsp;') %}
        <tr>
            {% for subcategory in dualsubcategory %}
            <td>
                {% if subcategory != '&nbsp;' %}
                <a href="{{ listing_url_base }}/{{ subcategory.replace(' ', '-') }}">
                    {{ subcategory.replace('_slash_', '/') }}
                </a>
                {% else %} {{ subcategory.replace('_slash_', '/') }} {% endif %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{% endfor %}