{% extends parent_template %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/public_listing.css">
{% endblock %}

{% block title %}{{ category.replace('_slash_', '/') }}{% endblock %}

{% block description %}
Information about {{ listing.name }}.
{% if listing.address.address %}
{{ listing.address.address }}{% endif %}
{{ listing.address.street }}{% if listing.address.street2 %}
{{ listing.address.street2 }}{% endif %}
{{ listing.address.city }}, {{ listing.address.state }} {{ listing.address.zip }}{% if listing.address.country %}
{{ listing.address.country }}{% endif %}

{% for contact in listing.contact_infos %}{{ contact.type|capitalize }}: {{ contact.value }}
{% endfor %}
{% endblock %}

{% block tiny_classified_content %}
<div class="row" id="top-banner-holder">
    <div id="top-banner"></div>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('top-banner'); });
    </script>
</div>

<div class="row">
	<a id="home-link" href="http://ifn.insurance-forums.net"> &lt;&lt; Home </a>
	<a id="resource-directory-link" href="http://ifn.insurance-forums.net/resources/"> &lt;&lt; Resource Directory Index </a>
    <div class="col-xs-6">
        <h1>{{ category.replace('_slash_', '/') }}</h1>
    </div>
    <div class="pull-right col-xs-2">
        <a id="return-to-search-action" href="{{ [listing_url_base, category]|join('/') }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Return to search
        </a>
    </div>
</div>
<hr>
<div class="row">
    <div id="public-listing" class="col-xs-10">
        <h2 id="listing-title">{{ listing.name }} {% if admin %}[<a href="{{ base_url }}/author?target={{ listing.author_email }}">edit</a> / <a href="#" id="delete-link">delete</a> ]{% endif %}</h2>
        {% if listing.thumbnail_url %}
        <img src="{{ listing.thumbnail_url }}">
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            {% if listing.address.street and
                listing.address.city and
                listing.address.state and
                listing.address.zip
            %}
            <div id="listing-address" class="col-xs-4">
                <address>
                    <p>
                        {% if listing.address.address %}
                        {{ listing.address.address }}</br>
                        {% endif %}
                        {{ listing.address.street }}</br>
                        {% if listing.address.street2 %}
                        {{ listing.address.street2 }}</br>
                        {% endif %}
                        {{ listing.address.city }}, {{ listing.address.state }} {{ listing.address.zip }}
                        {% if listing.address.country %}
                        </br>{{ listing.address.country }}
                        {% endif %}
                    </p>
                </address>
            </div>
            {% endif %}
            <div id="listing-subcategories-list" class="col-xs-4">
                <strong>Categories:</strong>
                {% for subcategory in listing.tags.get(category, []) %}
                <div class="row">
                    <div class="col-xs-4">
                        <a id="select-category-button" class="subcategory-link btn btn-sm" href="{{ [listing_url_base, category, subcategory]|join('/') }}">
                            {{ subcategory|replace('_slash_', '/') }}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if listing.get('about', None).strip() %}
        <div id="about-row" class="row">
            <div id="description-row-container" class="listing-info-section col-xs-6">
                <span id="about-section">{{ about | safe}}</span>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div id="additional-info-row-container" class="listing-info-section col-xs-8">
                <!-- <h3>Additional Information</h3> -->
                {% for contact in listing.contact_infos %}
                <p>
                    <strong>{{ contact.type|capitalize }}:</strong></br>
                    {{ contact.value }}</p>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="right-ad" id="right-ad-1"></div>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('right-ad-1'); });
        </script>
    </div>
</div>

<script>
$('#delete-link').click(function (event) {
    event.preventDefault();

    if (!confirm('Are you sure you want to delete this entry?'))
        return;

    $.ajax({
        url: '{{ base_url }}/author/content/' + encodeURIComponent('{{ listing.author_email }}'),
        type: 'DELETE',
        success: function(result) {
            window.location.href = "{{ base_url }}/confirm_delete";
        }
    });
});
</script>
{% endblock %}