{% extends parent_template %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/public_index.css">
{% endblock %}

{% block title %}Resource Directory{% endblock %}

{% block tiny_classified_content %}
<div class="row" id="top-banner-holder">
    <div id="top-banner"></div>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('top-banner'); });
    </script>
</div>

<div class="row">
	<a id="home-link" href="http://ifn.insurance-forums.net"> &lt;&lt; Home </a>
	<a id="resource-directory-link" href="http://ifn.insurance-forums.net/resources/"> &lt;&lt; Resource Directory Index </a>
    <div class="col-xs-12">
        <h1>Resource Directory</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        {% for html in html_categories|sort %}
        <div class="public-listing-category">
            {{ html|safe }}
        </div>
        {% endfor %}
    </div>
    <div class="col-xs-4">
        <div class="right-ad" id="right-ad-1"></div>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('right-ad-1'); });
        </script>
    </div>
</div>
{% endblock %}